body {
    font-family: Arial, sans-serif;
    background-color: #c3c3c4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 200px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #94774b;
}

.task-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#taskInput {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

#addTaskBtn {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #48b4e7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#addTaskBtn:hover {
    background-color: #1a99e8;
}

.filters {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.filter-btn {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f4f4f9;
    cursor: pointer;
}

.filter-btn.active {
    background-color: #5cb85c;
    color: #fff;
}

#taskList {
    list-style: none;
    padding: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.task-item.completed {
    text-decoration: line-through;
    color: #585858;
}

.task-actions button {
    margin-left: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.edit-btn {
    background-color: #1e7a37;
    color: #fff;
}

.delete-btn {
    background-color: #e64843;
    color: #fff;
}
